*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background: rgb(134,105,191);
    background: linear-gradient(90deg, rgba(134,105,191,1) 0%, rgba(251,108,203,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 26px 50px 50px 50px;
}

.header{
    padding: 10px;
    background: rgb(146,120,203);
    background: linear-gradient(45deg, rgba(146,120,203,1) 0%, rgba(252,124,209,1) 100%);
}

.parent{
    overflow: auto;
    position: relative;
    background: rgb(132,133,247);
    background: linear-gradient(45deg, rgba(132,133,247,1) 0%, rgba(205,57,218,1) 69%, rgba(255,163,217,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color: #14153E;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;

}

.addTask{
    color: #001D3E;
}

.text{
    text-align: center;
    color: white;
}

